<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('闲置资产状态信息列表')" />
	<th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
	<h1 align="center">闲置资产状态信息列表</h1>
	<form class="form-horizontal m" id="form-return-adds">
		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
	</form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: datetimepicker-js" />
<script th:inline="javascript">

    var unit=[[${@dict.getType('zc_unit')}]];
    var state=[[${@dict.getType('zc_state')}]];

    var prefix = ctx + "property/campusrecive";

    $(function() {
        var options = {
            url: prefix + "/list1",
            modalName: "闲置资产信息列表",
            columns: [{
                checkbox: true
            },
			{
				field : 'id',
				title : '资产ID',
				visible: false
			},
			{
				field : 'assetNum',
				title : '资产编号'
			},
			{
				field : 'name',
				title : '资产名称'
			},
			{
				field : 'brand',
				title : '品牌'
			},
			{
				field : 'assetSpecification',
				title : '资产规格'
			},
			{
				field : 'units',
				title : '单位',
				formatter:function (value, row, index) {
					return $.table.selectDictLabel(unit,value);
				}
			},
			{
				field : 'state',
				title : '资产状态',
				formatter:function (value, row, index) {
					return $.table.selectDictLabel(state,value);
				}
			},
			{
				field : 'number',
				title : '数量'
			}]
        };
        $.table.init(options);
    });

    /* 添加用户-选择用户-提交 */
    function submitHandler(index, layero) {
        var rows = $.table.selectFirstColumns();
        if (rows.length == 0) {
            $.modal.alertWarning("请至少选择一条记录");
            return;
        }
        $.modal.close();
        // 父页面的方法
        // parent.selectUsers();
        // 父页面的变量
        parent.$('#ids').val(rows.join());
    }
</script>
</body>
</html>