<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hp.property.mapper.ZxRepairsMapper">

    <resultMap type="ZxChange" id="ZxChangeResult">
        <id property="id"    column="id"    />
        <result property="assetsId"    column="assets_id"    />
        <result property="changeType"    column="change_type"    />
        <result property="submittedDepartment"    column="submitted_department"    />
        <result property="submitOne"    column="submit_one"    />
        <result property="useDepartment"    column="use_department"    />
        <result property="users"    column="users"    />
        <result property="extend1"    column="extend1"    />
        <result property="extend2"    column="extend2"    />
        <result property="extend3"    column="extend3"    />
        <result property="extend4"    column="extend4"    />
        <result property="extend5"    column="extend5"    />
        <result property="assetNum"    column="asset_num"    />
        <result property="name"    column="name"    />
        <result property="type"    column="type"    />
        <result property="brand"    column="brand"    />
        <result property="assetSpecification"    column="asset_specification"    />
        <result property="number"    column="number"    />
        <result property="units"    column="units"    />
        <result property="shareTime"  column="share_time"   />
        <result property="deptName"     column="dept_name"  />
    </resultMap>

    <resultMap type="ZxAssetManagement" id="ZxAssetManagementResult">
        <id property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="assetNum"    column="asset_num"    />
        <result property="brand"    column="brand"    />
        <result property="assetSpecification"    column="asset_specification"    />
        <result property="number"    column="number"    />
        <result property="type"    column="type"    />
        <result property="units"    column="units"    />
        <result property="supplier"    column="supplier"    />
        <result property="picture"    column="picture"    />
        <result property="price"    column="price"    />
        <result property="purchasingTime"    column="purchasing_time"    />
        <result property="storageTime"    column="storage_time"    />
        <result property="warehousingCampus"    column="warehousing_campus"    />
        <result property="state"    column="state"    />
        <result property="operator"    column="operator"    />
        <result property="location"    column="location"    />
        <result property="recipientsTime"    column="recipients_time"    />
        <result property="repairTime"    column="repair_time"    />
        <result property="transferTime"    column="transfer_time"    />
        <result property="discardTime"    column="discard_time"    />
        <result property="returnTime"    column="return_time"    />
        <result property="campus"    column="campus"    />
        <result property="department"    column="department"    />
        <result property="extend1"    column="extend1"    />
        <result property="extend2"    column="extend2"    />
        <result property="extend3"    column="extend3"    />
        <result property="extend4"    column="extend4"    />
        <result property="extend5"    column="extend5"    />
        <result property="shareTime"  column="share_time"   />
        <result property="useDepartment"    column="use_department"    />
        <result property="users"    column="users"    />
        <result property="deptName"     column="dept_name"  />
        <result property="branch"     column="branch"   />
    </resultMap>

    <sql id="selectZxAssetManagementVo">
    select a.id, a.name, a.asset_num, a.brand, a.asset_specification, a.number, a.type, a.units, a.state, a.warehousing_campus, a.operator, a.location, a.recipients_time, a.return_time, a.campus, a.department, a.extend3, c.submitted_department, c.submit_one, c.change_type, c.extend1, c.use_department, c.users
    FROM `zx_change` c LEFT join `zx_asset_management` a ON c.assets_id= a.id  LEFT JOIN `sys_dept` d
        ON c.extend5 = d.dept_id
    </sql>


    <sql id="selectZxChangeVo">
        select * from zx_change
    </sql>


<!--查询所有报修资产信息-->
    <select id="selectRepairsList" parameterType="ZxChange" resultMap="ZxChangeResult">
        select  a.name, a.asset_num, a.brand, a.asset_specification, a.number, a.type, a.units, a.state, a.warehousing_campus, a.operator, a.location, a.recipients_time, a.return_time, a.campus, a.department, a.extend3,c.*, d.dept_name
        FROM `zx_change` c LEFT join `zx_asset_management` a ON c.assets_id= a.id  LEFT JOIN `sys_dept` d
        ON c.extend5 = d.dept_id
        <where>
            <if test="name != null  and name != ''"> and a.name like concat('%', #{name}, '%')</if>
            <if test="assetNum != null  and assetNum != ''"> and a.asset_num like concat('%', #{assetNum}, '%')</if>
            <if test="useDepartment != null "> and c.use_department = #{useDepartment}</if>
            <if test="users != null  and users != ''"> and c.users like concat('%', #{users}, '%')</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and c.share_time &gt;= #{params.beginTime}
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and c.share_time &lt;= #{params.endTime}
            </if>
            <if test="extend5 != null and extend5 != ''"> and c.extend5 = #{extend5}</if>
            and  c.change_type=3
        </where>
        ORDER BY c.extend1 desc
    </select>



<!--根据资产id查询变更记录-->
    <select id="selectZxChangeByAssetId" parameterType="Long" resultMap="ZxChangeResult">
        <include refid="selectZxChangeVo"/>
        where assets_id = #{id}
    </select>

    <!--根据资产id查询资产信息-->


    <select id="selectZxAssetManagementById" parameterType="Long" resultMap="ZxAssetManagementResult">
        select c.share_time,c.use_department,c.users,am.*,d.dept_name,dept.dept_name branch
        from zx_change c
        left join zx_asset_management am on c.assets_id = am.id
        left join sys_dept d on c.extend5 = d.dept_id
		left join sys_dept dept on dept.dept_id = am.warehousing_campus
        where c.id = #{id}
    </select>



    <update id="updateExtend3" parameterType="ZxAssetManagement">
        update zx_asset_management
        <trim prefix="SET" suffixOverrides=",">
            <if test="extend3 != null  and extend3 != ''">extend3 = #{extend3},</if>
        </trim>
        where id = #{id}
    </update>


    <select id="selectAssetManagementList" parameterType="ZxAssetManagement" resultMap="ZxAssetManagementResult">
        select * from zx_asset_management where state in (1,2) and extend3='0'
        <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
    </select>

</mapper>