<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('资产报废信息')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-management1-edit" th:object="${change}">
        <input name="id" th:field="*{id}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">资产id：</label>
            <div class="col-sm-8">
                <input name="assetsId" th:field="*{assetsId}" class="form-control" type="text" readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">资产名称：</label>
            <div class="col-sm-8">
                <input name="name" th:field="*{name}" class="form-control" type="text" readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">资产编号：</label>
            <div class="col-sm-8">
                <input name="assetNum" th:field="*{assetNum}" class="form-control" type="text" readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">变更类型：</label>
            <div class="col-sm-8">
                <input name="changeType" th:field="*{changeType}" class="form-control" type="text" readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">品牌：</label>
            <div class="col-sm-8">
                <input name="brand" th:field="*{brand}" class="form-control" type="text" readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">资产类型：</label>
            <div class="col-sm-8">
                <select name="type"  th:with="type=${@dict.getType('zc_type')}" disabled="disabled">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{type}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">资产规格：</label>
            <div class="col-sm-8">
                <input name="assetSpecification" th:field="*{assetSpecification}" class="form-control" type="text" readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">数量：</label>
            <div class="col-sm-8">
                <input name="number" th:field="*{number}" class="form-control" type="text" readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">单位：</label>
            <div class="col-sm-8">
                <select name="units"  th:with="type=${@dict.getType('zc_unit')}" disabled="disabled">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{units}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">提交部门：</label>
            <div class="col-sm-8">
                <select name="submittedDepartment" th:with="type=${@dict.getType('zc_department')}" disabled="disabled">

                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{submittedDepartment}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">提交人：</label>
            <div class="col-sm-8">
                <input name="submitOne" th:field="*{submitOne}" class="form-control" type="text" readonly="readonly">
                <!--<img alt="图片" th:src="*{picture}">-->
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">报废时间：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <!--<input name="extend1" th:value="${#dates.format(change.extend1, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">-->
                    <input name="extend1" th:value="${change.extend1}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">使用部门：</label>
            <div class="col-sm-8">
                <select name="useDepartment" th:with="type=${@dict.getType('zc_department')}" disabled="disabled">

                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{useDepartment}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">使用人：</label>
            <div class="col-sm-8">
                <input name="users" th:field="*{users}" class="form-control" type="text" readonly="readonly">
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: datetimepicker-js" />
<script type="text/javascript">
    var prefix = ctx + "property/discard";
    $("#form-management1-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-management1-edit').serialize());
        }
    }

    $("input[name='purchasingTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });
</script>
</body>
</html>