<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header('添加转移登记')"></head>
<body class="white-bg">
<div class="container-div">
    <div class="row">
        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-danger btn-del btn-del disabled" onclick="xuan()" shiro:hasPermission="teach:major:remove">
                <i class="fa fa-remove"></i> 确认
            </a>
            <!--<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="teach:teachMajor:export">
                    <i class="fa fa-download"></i> 导出
             </a>-->
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var zc_type = [[${@dict.getType('zc_type')}]];
    var zc_location = [[${@dict.getType('zc_location')}]];
    var zc_unit = [[${@dict.getType('zc_unit')}]];
    var zc_department = [[${@dict.getType('zc_department')}]];
    var zc_state = [[${@dict.getType('zc_state')}]];
    var editFlag = [[${@permission.hasPermi('teach:teachMajor:edit')}]];
    var removeFlag = [[${@permission.hasPermi('teach:teachMajor:remove')}]];
    var prefix = ctx + "property/transfer";

    $(function() {
        //var datas = [[${@dict.getType('teach_major_type')}]];
        var options = {
            url: prefix + "/listooo",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            xuanUrl:prefix+"/xuan",
            modalName: "所有资产",
            search: false,
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field : 'id',
                    title : '资产id',
                },
                {
                    field : 'name',
                    title : '资产名称'
                },
                {
                    field : 'brand',
                    title : '品牌'
                },
                {
                    field : 'assetSpecification',
                    title : '资产规格'
                },
                {
                    field : 'price',
                    title : '资产原值'
                },
                {
                    field : 'type',
                    title : '资产类别',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(zc_type,value);
                    }
                }
            ]
        };
        $.table.init(options);
    });
    /* 添加用户-选择用户-提交 */
    function submitHandler(index, layero) {
        var rows = $.table.selectFirstColumns();
        if (rows.length == 0) {
            $.modal.alertWarning("请至少选择一条记录");
            return;
        }
        $.modal.close();
        // 父页面的方法
        // parent.selectUsers();
        // 父页面的变量
        parent.$('#ids').val(rows.join());
    }
</script>
</body>
</html>