<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header('领用登记')"></head>
<body class="white-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var prefix = ctx + "property/department";

    $(function() {
        var zc_type = [[${@dict.getType('zc_type')}]];
        var options = {
            url: prefix + "/listooo",
            modalName: "资产列表",
            search: false,
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field : 'id',
                    title : '资产id'
                },
                {
                    field : 'name',
                    title : '资产名称'
                },
                {
                    field : 'brand',
                    title : '品牌'
                },
                {
                    field : 'assetSpecification',
                    title : '资产规格'
                },
                {
                    field : 'price',
                    title : '资产原值'
                },
                {
                    field : 'type',
                    title : '资产类别',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(zc_type,value);
                    }
                }
            ]
        };
        $.table.init(options);
    });

    /* 添加用户-选择用户-提交 */
    function submitHandler(index, layero) {
        var rows = $.table.selectFirstColumns();
        if (rows.length == 0) {
            $.modal.alertWarning("请至少选择一条记录");
            return;
        }
        $.modal.close();
    }
</script>
</body>
</html>