<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header('领用登记')"></head>
<body class="white-bg">
<div class="container-div">
    <div class="row">
        <h1 align="center">闲置状态资产信息列表</h1>
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            资产名称：<input type="text" name="name"/>
                        </li>

                        <li style="width: 100%;text-align: center">
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var prefix = ctx + "property/department";
    var dept=[[${@dict.getType('zc_department')}]];
    var state=[[${@dict.getType('zc_state')}]];

    $(function() {
        var zc_type = [[${@dict.getType('zc_type')}]];
        var options = {
            url: prefix + "/listooo",
            modalName: "资产列表",
            search: false,
            showExport: true,
            columns: [{
                checkbox: true
            },
            {
                field : 'id',
                title : '资产id'
            },
            {
                field : 'name',
                title : '资产名称'
            },
            {
                field : 'assetNum',
                title : '资产编号'
            },
            {
                field : 'brand',
                title : '品牌'
            },
            {
                field : 'assetSpecification',
                title : '资产规格'
            },
            {
                field : 'price',
                title : '资产原值(元)'
            },
            {
                field : 'type',
                title : '资产类别',
                formatter: function(value, row, index) {
                    return $.table.selectDictLabel(zc_type,value);
                }
            },
            {
                field: 'extend1',
                title: '使用部门',
                formatter: function(value, row, index) {
                    return $.table.selectDictLabel(dept,value);
                }
            },
            {
                field: 'extend2',
                title: '使用人'
            },
            {
                field: 'deptName',
                title: '所属校区'
            },
            {
                field: 'state',
                title: '物品状态',
                formatter: function(value, row, index) {
                    return $.table.selectDictLabel(state,value);
                }
            }]
        };
        $.table.init(options);
    });

    /* 添加用户-选择用户-提交 */
    function submitHandler(index, layero) {
        var rows = $.table.selectFirstColumns();
        if (rows.length == 0) {
            $.modal.alertWarning("请至少选择一条记录");
            return;
        }
        $.modal.close();
    }
</script>
</body>
</html>